<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Atlas Middleware</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css" rel="stylesheet">

  <style>
    .navbar {
      border-radius: 0;
    }

    .data-container .data-atual{
      font-weight: bold;
      font-size:120%;
    }

    .data-container .data-especifica{
      color: #333;
    }

    .grafico-cabecalho{
      border-bottom: 1px solid #ecf0f1;
      padding-bottom: 5px;
    }

    .grafico-cabecalho h1{
      font-size: 120%;
      font-weight: bold;
      margin-top: 0px;
    }

    .grafico-content{
      position: relative;
    }

    .grafico-content .loader{
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(236, 240, 241, 0.6);
      display: none;
    }

    .grafico-content .loader.visible{
      display: block;
    }

    .grafico-content .loader p{
      font-family: "Helvetica";
      font-size: 120%;
      color: #333;
      padding-top: 10%;
    }
  </style>
</head>
<body>

  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/atlas/">Atlas</a>

      <ul class="nav navbar-nav">
        <li>
          <a href="/atlas/dashboard">Dashboard</a>
        </li>
      </ul>

    </div>
  </div>

  <div class="container">

    <h3>
      Painel de vendas
      <small>Acompanhe suas vendas :)</small>
    </h3>

    <div class="row">
      <div class="col-sm-12">
        <div class="well data-container">
          <span class="data-atual">Novembro/2014</span>
          <span class="data-especifica">dia 1º até hoje</span>
        </div>
      </div>
    </div>

    <section>
      <div class="row">
        <div class="col-sm-12">

          <div class="grafico-cabecalho">
            <div class="row">
              <div class="col-sm-6">
                <h1>Volume de vendas diário</h1>
              </div>
              <div class="col-sm-6">
                 <button class="pull-right btn btn-default btn-sm" data-behaivor="carregar-dados">
                    <span class="glyphicon glyphicon-refresh"></span>
                 </button>
              </div>
            </div>
          </div>

          <div class="grafico-content">
            <div class="loader">
              <p class="text-center">Estamos buscando os dados :)</p>
            </div>
            <canvas id="volume-vendas" width="100%" height="400"></canvas>
          </div>

        </div>
      </div>
    </section>

    <textarea name="" id="query" style="display:none" cols="30" rows="10">SELECT {FN CONVERT({FN TIMESTAMPADD (SQL_TSI_DAY, p.dataemiss-73049, {D '2001-01-01'})}, SQL_DATE)} AS "DATA_EMISSAO", COUNT(p.numeropedido) AS "QUANTIDADE", {FN CONVERT(SUM(p.valortotal), SQL_FLOAT)} AS "VOLUME_VENDAS", {FN CONVERT(SUM(p.valortotal)/COUNT(p.numeropedido),SQL_FLOAT)} AS "VALOR_MEDIO_PEDIDO" FROM zw14vped p WHERE p.situacao = 'Finalizado' AND {FN TIMESTAMPADD (SQL_TSI_DAY, p.dataemiss-73049, {D '2001-01-01'})} BETWEEN {TS '2013-11-01 00:00:00'} AND {TS '2013-11-30 00:00:00'} GROUP BY p.dataemiss ORDER BY p.dataemiss</textarea>

  </div>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1-beta.2/Chart.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment-with-locales.min.js"></script>

  <script>

  var Dashboard = {

    geraGrafico : function(data){
      var labels   = [];
      var datasets = [];
      var valores  = { total : [], medio : [] };
      var dia;

      $.each(data.rows, function(el, val){
        dia = val[0].split('-')[2];

        labels.push(dia);
        valores.total.push(val[3]);
        valores.medio.push(val[2]);
      });

      var data = {
        "labels" : labels,
        "datasets" : [
          {
            label: "Outro Volume",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: valores.medio
          },
          {
            label: "Volume total",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: valores.total
          }
        ]
      };

      var options = {
        responsive : true,
        maintainAspectRatio : false,
        scaleShowGridLines : true,
        scaleGridLineColor : "rgba(0,0,0,.05)",
        scaleGridLineWidth : 1,
        bezierCurve : true,
        bezierCurveTension : 0.4,
        pointDot : true,
        pointDotRadius : 4,
        pointDotStrokeWidth : 1,
        pointHitDetectionRadius : 20,
        datasetStroke : true,
        datasetStrokeWidth : 2,
        datasetFill : true,
        tooltipTemplate : "<%= datasetLabel %>: R$ <%= value %>",
      };

      var ctx = $("#volume-vendas").get(0).getContext("2d");
      var myLineChart = new Chart(ctx).Line(data, options);
    },

    efetuaChamada : function(){
      Dashboard.loader();
      $.post(
        '/atlas/api/statements',
        JSON.stringify({
          "statement": $("#query").val() ,
          "limit": 20,
          "offset": 0
        })
      )

      .done(function(data){
        $(".alert").remove();
        Dashboard.geraGrafico(data);
      })
      .fail(function(err){
        $(".alert").remove();
        var message = getErrorMessage(err);
        $(".container").prepend('<div class="alert alert-dismissable alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><strong>Oh snap! </strong>'+message+'</div>');
      })
      .always(function(){
        Dashboard.loader();
      });
    },

    loader : function(container){
      var container = container || '.grafico-content';
      var loader    = $(container).find('.loader');
      $(loader).stop().fadeToggle();
    },

    init : function(){
      Dashboard.efetuaChamada();
      $(document).on('click', '[data-behaivor~=carregar-dados]', Dashboard.efetuaChamada);
    },
  };

  $(Dashboard.init);

  function getErrorMessage(xhr) {
    if (xhr.responseJSON !== undefined &&  xhr.responseJSON.errors !== undefined ) {
      return xhr.responseJSON.errors.replace(/.*\[SoftVelocity Inc\.\]\[TopSpeed ODBC Driver\](\[ISAM\]ISAM)?/,"");
    } else if (xhr.status == 0) {
      return "There was an unexpected error when accessing the server.";
    } else {
      return xhr.statusText;
    }
  }

  </script>

</body>
</html>