/* General Styles */

.navbar {
  border-radius: 0;
}

pre {
  border: none;
  padding: 0;
  margin: 0 0 20px;
  background-color: transparent;
}

/* SQL Syntax Highlight Customization */

.hljs{
  background:transparent;
  padding: 0px;
}

.hljs-keyword,
.cm-s-default .cm-keyword {
  color:#f39c12;
  font-weight: bold;
}

.hljs-literal, .hljs-number,
.cm-s-default .cm-number {
  color: #18BC9D;
}

.hljs-string,
.cm-s-default .cm-string {
  color:#3498db;
}

.CodeMirror {
  border: 2px solid #dce4ec;
  border-radius: 4px;
  padding: 10px 15px;
  min-height: 50px;
  height: auto;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;;
}

.CodeMirror.CodeMirror-focused{
  border-color: #2c3e50;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror pre{
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 14px;
  line-height: 1.4;
}

/* Index Specifics (please let me out :S) */
textarea#statement{
  -webkit-transition: height ease-in-out 0.6s;
  -o-transition: height ease-in-out  0.6s;
  transition: height ease-in-out 0.6s;
  height: 50px;
}

@media(max-width: 768px){
  textarea#statement{
    height: 120px;
  }
}

@media(min-width: 768px){

  textarea#statement:focus{
    height: 350px;
    resize: none;
  }
}


/* Dashboard */

.data-container button{
  margin-bottom: 21px;
  text-align: left;
}

.data-container button .text{
  margin-left: 10px;
  display: inline-block;
}

.grafico-cabecalho{
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 5px;
}

.grafico-content{
  position: relative;
}

.loader{
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(236, 240, 241, 0.6);
  display: none;
}

.loader.visible{
  display: block;
}

.loader p{
  font-family: "Helvetica";
  font-size: 120%;
  color: #333;
  padding-top: 10%;
}

.meta-container .info{
  font-size: 36px;
  text-align: right;
}

.indicador .title span{
  opacity:0.5;
  color:#FFF;
}

.indicador .title span:hover{
  opacity: 1;
  cursor: pointer;
}
.indicador .valor{
  font-weight: bold;
}

.indicador .unidade,
.indicador .grandeza{
  opacity: 0.8;
}

.alert.alert-default{
  border: 1px solid;
}

*{
  border-radius: 0px !important;
}